  header {
    font-family: Phosphate, Arial, sans-serif;
    display: flex;
    padding: 20px 0;
    margin-right: 40px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-controls {
    display: flex;
    gap: 10px;
  }
  
  .back-btn {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    
  }
  
  .back-btn:hover {
    background-color:#c0ffee;
    cursor: pointer;
  }

  #title{
    text-decoration: underline;
  }

  .blog-post{
    max-width: 600px;
    margin: 50px auto;
    background-color: #c0ffee;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

#toggleThemeBtn{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-family: Phosphate, Arial, sans-serif;
    cursor: pointer;
    border: none; 
    outline: none;
}

#toggleThemeBtn:hover {
  background-color:#c0ffee;
  cursor: pointer;
}
  
  body{
    
    background-color: #ffc8d2;
    color: black;
    height: 100vh; 
}

.dark-theme{
    background-color: #202325;
    color: #ffffff;
}

  
  footer {
    padding: 10px 0;
    text-align: center;
    font-family: Phosphate, Arial, sans-serif;
    color: black;
    text-decoration: none;
  }
  
  .dark-theme a{
    color: white;
  }
  footer a {
    color: black;
    text-decoration: none;
    font-family: Phosphate, Arial, sans-serif;
  }
  
  footer a:hover {
    text-decoration: underline;
  }