body {
    font-family: Phosphate, Arial, sans-serif;
    background-color:  #c0ffee;
  }

/*design and layout of form elements*/
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffc8d2;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 


  h1{
    text-align: center;
  }
  
  /*cleaner spacing of form*/
  .form-group {
    margin-bottom: 15px;
    margin-right: 20px;
  } 

  
  /*controls size and style of text input boxes*/
  input[type="text"],
  textarea{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /*Submit button design and layout*/
  button {
    padding: 10px 20px;
    width: 600px;
    align-items: center;
    font-size: 16px;
    background-color: #ffd6e4;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Phosphate, Arial, Sans-serif;
  }

  /* Keeps button the same width as rest of form on different size screens*/
  @media screen and (max-width: 600px) {
    button{
      width: 100%; 
      padding: 8px 16px; 
      font-size: 14px; 
    }
  }
  
  button:hover {
    background-color: #c0ffee;
  }




